body{
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
 
}
h1{
  font-weight: 800;
  font-size: 50px;
  text-align: center;
}
footer{

}
footer::before{
  content: "";
  position: absolute;
  background-image: url("../img/b.jpg");
  background-repeat: no-repeat ;
  background-size: cover; 
  height: 100%;
  width: 100%;  
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   text-align: center;
   padding: 30px;
   font-size: 18px;
   
}
input[type=text]{
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid ;
  border-image: linear-gradient(to right, rgb(14, 205, 14), rgb(203, 142, 9), rgb(207, 115, 11))1;
  outline: none;
  
}
input[type=email]{
  text-decoration: none;
  text-align: center;
  border: none;
  font-size: 15px;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid ;
  border-image: linear-gradient(to right, rgb(14, 205, 14), rgb(203, 142, 9), rgb(207, 115, 11))1;
  outline: none;
}